sudo: true

language: python

python:
  - 3.6
  - 3.5
  - 3.4
  - 3.2

install:
  - pip install -r requirements.txt
  - python setup.py install

script:
  - python -m opem test
after_success:
  - codecov