include LICENSE
include *.md
include *.spec
include *.txt
include *.yml
include *.ini
recursive-include Documents *.ipynb
recursive-include Documents *.jpg
recursive-include Documents *.md
recursive-include otherfile *.csv
recursive-include otherfile *.gif
recursive-include otherfile *.html
recursive-include otherfile *.ico
recursive-include otherfile *.jpg
recursive-include otherfile *.opem
recursive-include otherfile *.png
recursive-include otherfile *.rc
recursive-include paper *.bib
recursive-include paper *.md
recursive-include paper *.pdf